# Neon (PostgreSQL serverless)
DATABASE_URL=postgresql://neondb_owner:npg_xusp3Nf7cgLt@ep-mute-term-abrwd1vz.eu-west-2.aws.neon.tech/neondb?sslmode=require

# Auth.js — générer avec: npx auth secret
AUTH_SECRET=
BETTER_AUTH_SECRET=e5487d20880caece20b00d04f8f3732f1647439f200cd295ebf8c4fac295e4f8

# URL de l'application (production Vercel ou http://localhost:3000 en dev)
AUTH_URL=https://budget-x-six.vercel.app